<h1>Flight Booking App!</h1>
<%= render 'search_form', airports: @airports %>

<% if @flights.any? %>
  <%= render 'flight_selector', flights: @flights, passengers: params[:search][:passengers] %>
<% else %>
  No flights found.
<% end %>